{% extends 'base.html.twig' %}

{% block title "Modifier un évènement" %}

{% block body %}

<div class="col-12 d-flex justify-content-center">
    <h1 class="title">Modifier un évènement</h1>
</div>

<div class="col-12 d-flex justify-content-center mt-3">
    <p class="text-asterisque text-muted">Les champs munis d'un astérisque (*) sont obligatoires.</p> 
</div>

{{ form_start(form) }}
<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="candidat_form_prenom"><span class="asterisque">* </span>Nom de l'évènement</label>
        {{ form_row(form.nom, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="candidat_form_prenom"><span class="asterisque">* </span>Date de début</label>
        {{ form_row(form.debut, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="candidat_form_prenom"><span class="asterisque">* </span>Date de fin</label>
        {{ form_row(form.fin, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="candidat_form_prenom"><span class="asterisque">* </span>Adresse</label>
        {{ form_row(form.adresse, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="candidat_form_prenom"><span class="asterisque">* </span>Code postal</label>
        {{ form_row(form.codePostal, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="candidat_form_prenom"><span class="asterisque">* </span>Ville</label>
        {{ form_row(form.ville, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="candidat_form_prenom"><span class="asterisque">* </span>Nombre de place</label>
        {{ form_row(form.places, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="candidat_form_prenom"><span class="asterisque">* </span>Description</label>
        {{ form_row(form.description, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <button class="btn w-100 bouton-connexion" type="submit">
            Modifier l'évènement 
        </button>
    </div>
</div>
{{ form_end(form) }}


{% endblock %}