{# début détails de l'évènement #}
{% for liste in listeEvenement %}
<div class="bloc-details">
    <div class="details">
        <p>Nom de l'évènement : <span>{{ liste.nom }}</span> </p> {# nom de l'évènements #}
        <p>Nom de l'organisme : <span>{{ liste.user.partenaire?liste.user.partenaire.organisme:"" }}</span></p> {# nom de l'organisme #}
        <p>Lieu : <span>{{liste.adresse ~ ' ' ~ liste.codePostal ~ ', ' ~ liste.ville }}</span></p>
    </div>
    <div class="details middle">
        <p>Date de début : <span>{{ liste.debut|date("d/m/Y") }}</span></p>
        <p>Date de fin : <span>{{ liste.fin|date("d/m/Y") }}</span></p>
        <p>Temps restant avant l'évènement : <span>{% set difference = date(liste.debut).diff(date()) %} {# nombre de jour(s) restant avant le début de l'évènement #}
                {% set dateDiff = difference.days %}
                {% if dateDiff == 1 %}
                <span>1 jour</span>
                {% else %}
                <span>{{ dateDiff }} jours</span>
                {% endif %}</p><br>
        <p>Durée de l'évènement : {% set difference = date(liste.debut).diff(date(liste.fin)) %} {# nombre de jour(s) de la durée de l'évènement #}
            {% set dateDiff = difference.days %}
            {% if dateDiff == 1 or liste.debut == liste.fin %}
            <span>1 jour</span>
            {% else %}
            <span>{{ dateDiff }} jours</span>
            {% endif %}
        </p>
    </div>
    <div class="details end">
        <p>Nombre de places total : <span>{{ liste.places }}</span></p>
        <p>Nombre de candidats inscrit : <span>{{ liste.candidats|length }}</span></p>
        <p>Places restantes : <span>{{ liste.places - liste.candidats|length }}</span></p>
    </div>
    <div class="bouton">
        {% if app.user %}
        {% if ("ROLE_PRESCRIPTEUR" in app.user.roles) %} 
        <a href="{{ path('prescripteur_ajouter', {'id': liste.id}) }}">
            <button class="btn bouton-connexion w-100 m-0">
                Ajouter un candidat
            </button>
        </a>
        {% endif %}
        {% endif %}
    </div>
</div>

{# description de l'évènement #}
<div class="details desc mt-5">
    <p>Descritpion: <br>
        <span>{{ liste.description }}</span>
    </p>
</div>
{# fin description de l'évènement #}
{% endfor %}