
<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<title>Activation de compte</title>
	</head>

	<body>
		<head>
			<title>Activation de compte</title>
			<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
			<meta content="width=device-width" name="viewport">
			<style type="text/css">
				@font-face {
					font-family: &#x27;Postmates Std&#x27;
					font-weight: 600;
					font-style: normal;
					src: local(&#x27;Postmates Std Bold&#x27;), url('https://s3-us-west-1.amazonaws.com/buyer-static.postmates.com/assets/email/postmates-std-bold.woff') format(&#x27;woff&#x27;);
				}

				@font-face {
					font-family: &#x27;Postmates Std&#x27;
					font-weight: 500;
					font-style: normal;
					src: local(&#x27;Postmates Std Medium&#x27;), url('https://s3-us-west-1.amazonaws.com/buyer-static.postmates.com/assets/email/postmates-std-medium.woff') format(&#x27;woff&#x27;);
				}

				@font-face {
					font-family: &#x27;Postmates Std&#x27;
					font-weight: 400;
					font-style: normal;
					src: local(&#x27;Postmates Std Regular&#x27;), url('https://s3-us-west-1.amazonaws.com/buyer-static.postmates.com/assets/email/postmates-std-regular.woff') format(&#x27;woff&#x27;);
				}
			</style>
			<style media="screen and (max-width: 800px)">
				@media screen and(max-width: 800px) {
					.page-center {
						padding-left: 0 !important;
						padding-right: 0 !important;
					}

					.footer-center {
						padding-left: 20px !important;
						padding-right: 20px !important;
					}
				}
			</style>

			<style media="screen and (max-width: 400px)">
				@media screen and(max-width: 400px) {
					.page-center {
						padding-left: 0 !important;
						padding-right: 0 !important;
					}

					.footer-center {
						padding-left: 20px !important;
						padding-right: 20px !important;
					}

					.title {
						font-size: 26px !important;
					}

					.button-reset {
						width: 280px !important;
					}
				}
			</style>

			<!-- Partie haute -->
		</head>
	</body>
	<body style="background-color: #f4f4f5;">
		<table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%; background-color: #f4f4f5; text-align: center;">
			<tbody>
				<tr>
					<td style="text-align: center;">
						<table align="center" cellpadding="0" cellspacing="0" id="body" style="background-color: #fff; width: 100%; max-width: 1500px; height: 100%;">
							<tbody>
								<tr>
									<td>
										<table align="center" cellpadding="0" cellspacing="0" class="page-center" style="text-align: left; padding-bottom: 120px; width: 100%; padding-left: 120px; padding-right: 120px;">
											<tbody>
												<tr>
													<td style="padding-top: 25px;">
														<img src="{{ absolute_url("/images/logo-email-template-noir.png") }}" style="width: 300px;">
													</td>
												</tr>
												<tr>
													<td colspan="2" class="title" style="padding-top: 72px; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #92BC00; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 48px; font-smoothing: always; font-style: normal; font-weight: 600; letter-spacing: -2.6px; line-height: 52px; mso-line-height-rule: exactly; text-decoration: none;">
														Bienvenue
														<span style="color: #000;">{{ user.prenom }}
															{{ user.nom }}</span>
														!
													</td>
												</tr>
												<tr>
													<td style="padding-top: 48px; padding-bottom: 48px;">
														<table cellpadding="0" cellspacing="0" style="width: 100%">
															<tbody>
																<tr>
																	<td style="width: 100%; height: 1px; max-height: 1px; background-color: #d9dbe0; opacity: 0.81"></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td style="-ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #727377; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 16px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: -0.18px; line-height: 24px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: top; width: 100%;">
														Votre compte vient d'être activé sur le site
														<a>Parcous-découverte.</a>
													</td>
												</tr>
												<tr>
													<td style="padding-top: 24px; -ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #727377; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 16px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: -0.18px; line-height: 24px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: top; width: 100%;">
														Votre identifiant est :
														<code style="color: #000; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 16px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: -0.18px;">{{ email.to[0].address }}</code>
													</td>
												</tr>
												<tr>
													<td style="padding-top: 24px; -ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #727377; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 16px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: -0.18px; line-height: 24px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: top; width: 100%;">
														Veuillez appuyer sur le bouton ci-dessous pour créer votre mot de passe.
													</td>
												</tr>
												<tr>
													<td>
														<a data-click-track-id="37" href="{{ lien }}" class="button-reset" style="margin-top: 36px; -ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #92BC00; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 12px; font-smoothing: always; font-style: normal; font-weight: 600; letter-spacing: 0.7px; line-height: 48px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: top; width: 300px; background-color: #2D2D2D; border-radius: 28px; display: block; text-align: center; text-transform: uppercase" target="_blank">
															Créer un mot de passe
														</a>
													</td>
												</tr>
												<tr>
													<td style="padding-top: 48px; -ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #727377; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 16px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: -0.18px; line-height: 24px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: top; width: 100%;">
														(ce lien est valide jusqu'au
														{{ expiration_date|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }})
													</td>
												</tr>
											</tbody>
										</td>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Partie haute -->

		<!--Partie basse -->
		<table align="center" cellpadding="0" cellspacing="0" id="footer" style="background-color: #2D2D2D; width: 100%; max-width: 1500px; height: 100%;">
			<tbody>
				<tr>
					<td>
						<table align="center" cellpadding="0" cellspacing="0" class="footer-center" style="text-align: left; width: 100%; padding-left: 120px; padding-right: 120px;">
							<tbody>
								<tr>
									<td colspan="2" style="padding-top: 20px; width: 100%;">
										<img src="{{ absolute_url("/images/logo-email-template-blanc.png") }}" style="width: 150px;">
									</td>
								</tr>
								<tr>
									<td colspan="2" style="padding-top: 24px; padding-bottom: 48px;">
										<table cellpadding="0" cellspacing="0" style="width: 100%">
											<tbody>
												<tr>
													<td style="width: 100%; height: 1px; max-height: 1px; background-color: #92BC00; opacity: 0.5"></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="padding-bottom: 60px; -ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #9095A2; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 15px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: 0; line-height: 24px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: top; width: 100%;">
										Cette e-mail vous est envoyé automatiquement. Merci de ne pas répondre, car votre message ne sera pas traité en retour.</td>
								</tr>
								<tr></tr>
								<tr></tr>
								<tr>
									<td style="-ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #92BC00; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 15px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: 0; line-height: 24px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: top; width: 100%; text-align: center; padding-top: 50px; padding-bottom: 10px;">
										Copyright 2021 © Parcours Découverte
									</td>
								</tr>
							</tbody>
						</tr>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>

