{# Graphique Organisateur Evènement #}
<div class="mt-5">
    <canvas id="graph1" width="auto" height="100px"></canvas>
</div>
<div class="GraphOrga" style="display: none;">

    <div id="tableMoisOrga">{{ tableMoisOrg }}</div>

    <div id="Orga1">{{ tableOrga1 }}</div>
    <div id="NbrEvent1">{{ tableNombreOrga1 }}</div>
    <div id="Orga2">{{ tableOrga2 }}</div>
    <div id="NbrEvent2">{{ tableNombreOrga2 }}</div>
    <div id="Orga3">{{ tableOrga3 }}</div>
    <div id="NbrEvent3">{{ tableNombreOrga3 }}</div>
    <div id="Orga4">{{ tableOrga4 }}</div>
    <div id="NbrEvent4">{{ tableNombreOrga4 }}</div>
    <div id="Orga5">{{ tableOrga5 }}</div>
    <div id="NbrEvent5">{{ tableNombreOrga5 }}</div>
</div>
