{# Graphique Prescipteur Candidat #}
<div class="mt-5">
    <canvas id="graph2" width="auto" height="100px"></canvas>
</div>
<div class="GraphPresc" style="display: none;">

    <div id="tableMoisPres">{{ tableMoisPres }}</div>

    <div id="Pre1">{{ tablePre1 }}</div>
    <div id="NbrCandt1">{{ tableNombrePre1 }}</div>
    <div id="Pre2">{{ tablePre2 }}</div>
    <div id="NbrCandt2">{{ tableNombrePre2 }}</div>
    <div id="Pre3">{{ tablePre3 }}</div>
    <div id="NbrCandt3">{{ tableNombrePre3 }}</div>
    <div id="Pre4">{{ tablePre4 }}</div>
    <div id="NbrCandt4">{{ tableNombrePre4 }}</div>
    <div id="Pre5">{{ tablePre5 }}</div>
    <div id="NbrCandt5">{{ tableNombrePre5 }}</div>
</div>