{% extends 'base.html.twig' %}

{% block title "Inscription" %}

{% block body %}

{# header navigation #}


<div class="col-12 d-flex justify-content-center">
    <h1 class="title">Inscription</h1>
</div>
<div class="col-12 d-flex justify-content-center mt-3">
    <p class="text-asterisque text-muted text-center">Les champs munis d'un astérisque sont obligatoires.</p>
</div>

{{ form_start(form) }}
<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="inscription_form_email"><span class="asterisque">* </span>Email</label>
        {{ form_row(form.email, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="inscription_form_partenaire"><span class="asterisque">* </span>Organisme</label>
        {{ form_row(form.organisme, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="inscription_form_nom"><span class="asterisque">* </span>Nom de contact</label>
        {{ form_row(form.nom, {attr: {class: 'form-control'}}) }}
    </div>
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <label for="inscription_form_prenom"><span class="asterisque">* </span>Prénom de contact</label>
        {{ form_row(form.prenom, {attr: {class: 'form-control'}}) }}
    </div>
</div>

{# bouton demande d'inscription #}
<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <button class="btn w-100 bouton-connexion" type="submit">
            Demande d'inscription
        </button>
    </div>
</div>
{# bouton de d'inscription #}
{{ form_end(form) }}

{# header navigation #}


{% endblock %}